*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:rgb(6, 6, 6);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    height:400px;
    width:350px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding:1em;
    background:linear-gradient(to bottom, #100f13, #151420);
    border-radius:20px;
}
.section{
    width:290px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.section:first-child{
    justify-content:flex-start;
}
.section:nth-child(2){
    flex-direction:column;
    color:#fff;
}
.section h1{
    width:100%;
    display:inline;
    margin-right:auto;
    margin-bottom:0.7em;
}
.section:nth-child(3){
    justify-content:space-around;
}
.section button{
    padding:15px 18px;;
    border-radius:100px;
    border:none;
    outline:0;
    background-color:#1c1c1f;
    color:rgb(116, 117, 140);
}
.section button:hover{
    cursor:pointer;
    background-color:rgb(255, 150, 31);
    color:#fff;
    /* background-color:rgb(190, 201, 210); */
}
.section img{
    padding:15px;
    border-radius:30px;
    background-color:#1c1c1f;
}
.section input{
    background-color:rgb(255, 150, 31);
    width:100%;
    padding:10px 0;
    border-radius:30px;
    border:none;
    outline:0;
    text-transform:uppercase;
    font-weight:bolder;
    letter-spacing:2px;
    color:#d7d1d1;
}
.section input:hover{
    cursor:pointer;
    color:rgb(255, 150, 31);
    background-color:#d7d1d1;
}